.sidebar-100 {
  height: 100% !important;
}

.navbar-collapse {
  height: 100% !important;
}

.icons {
  width: 20px;
  height: 20px;
}

.bg-gradient-shippii {
  background-image: linear-gradient(
    195deg,
    #5ad89b 0%,
    #2bb673 100%
  ) !important;
}

.brand-logo {
  height: 72px;
  width: auto;
}

.date-day-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #616161;
}

.featured-color-icon {
  background-color: #2bb673 !important;
}

.subtitle-table {
  font-size: 14px;
}

.table-shippii {
  background-color: #2bb673;
  color: #fffafa;
}

.btn-shippii-green {
  padding: 0.3rem 0.5rem !important;
  background-color: #2bb673;
  margin-bottom: 0.6rem !important;
  color: #fff;
  border-radius: 10px !important;
}

.btn-shippii-orange {
  padding: 0.75rem 1rem !important;
  background-color: #f7941c;
  margin-bottom: 0.6rem !important;
  color: #fff;
  border-radius: 10px !important;
}

.btn-add-event {
  padding: 0.75rem 1rem !important;
  background-color: #f7941c;
  margin-bottom: 0 !important;
  color: #fff;
  border-radius: 10px !important;
}

.btn-shippii-orange-locker {
  padding: 0.3rem 0.5rem !important;
  background-color: #f7941c;
  margin-bottom: 0.6rem !important;
  color: #fff;
  border-radius: 10px !important;
}

.btn-shippii-green {
  padding: 0.3rem 0.5rem !important;
  background-color: #2bb673;
  margin-bottom: 0.6rem !important;
  color: #fff;
  border-radius: 10px !important;
}

.btn-shippii-orange-locker:hover {
  color: #fff;
}

.btn-shippii-green:hover {
  color: #fff;
}

.btn-shippii-grey {
  padding: 0.3rem 0.5rem !important;
  background-color: #f0f0f0;
  margin-bottom: 0.6rem !important;
  color: #333333;
  border-radius: 10px !important;
}

.status-delivered {
  color: #2bb673;
}

.title-how-it-works {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.2;
  color: #333333;
}

.subtitle-how-it-works {
  font-size: 0.85rem;
  color: #828282;
  line-height: 1.2;
  letter-spacing: 0.25px;
}

.shippii-orange {
  color: #f7941c !important;
}

.shippii-green {
  color: #2bb673 !important;
}

.form-control-shippii {
  background-color: #f4f5f7 !important;
  padding: 0.5rem 1rem 0.5rem 0.5rem !important;
}

.form-label-shippii {
  margin-bottom: 0;
  color: #333740;
  font-size: 13px;
  font-weight: 500;
}

.title-h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.title-h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.title-h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.checked {
  color: #f7941c;
}

.table-heading-shippii {
  padding: 0.75rem 0.5rem !important;
}

.status-awaiting {
  color: #f7941c;
}

.status-rejected {
  color: #ff4f00;
}

.status-requested {
  color: #a4c815;
}

.btn-search {
  margin: 0 !important;
  margin-left: 8px !important;
  color: #fff !important;
  background-color: #f7941c !important;
  overflow: visible !important;
}

@media only screen and (max-width: 600px) {
  .insurance-mobile {
    margin-top: 1.2rem;
  }
}

.logo-modal {
  height: 64px !important;
  width: auto;
}

.title-page {
  font-size: 36px;
  color: #2bb673;
  font-weight: bold;
}

.subtitle-page {
  font-size: 16px;
  color: #333740;
  font-style: oblique;
}

#searchbar {
  padding: 10px;
  border-radius: 8px;
  font-size: 13px;
  border-color: #dfe1e6;
  border-width: 1px !important;
  border-style: solid !important;
}

.search-store {
  width: 100%;
}

.search-event {
  padding: 10px;
  border-radius: 8px;
  font-size: 13px;
  border-color: #dfe1e6;
  border-width: 1px !important;
  border-style: solid !important;
  min-width: 240px;
}

.btn-search-event {
  margin: 0 !important;
  color: #fff !important;
  background-color: #2bb673 !important;
  overflow: visible !important;
  font-size: 13px;
}

.btn-search-mall {
  margin: 0 !important;
  color: #fff !important;
  background-color: #2bb673 !important;
  overflow: visible !important;
  font-size: 13px;
}

.section-mall {
  width: 100%;
  height: 140px;
  color: #f0f0f0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.component-store {
  margin-bottom: 20px;
}

.component-store:hover {
  text-decoration: none;
}

.store-thumbnail {
  width: 100%;
  height: 150px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.store-img {
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.title-store {
  color: #333740;
  font-size: 14px;
  margin-top: 12px;
  font-weight: 600;
  text-align: center;
}

.banner-thumbnail {
  width: 100%;
  height: 484px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.banner-img {
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.profile-pic {
  width: 200px;
  max-height: 200px;
  display: inline-block;
}

.file-upload {
  display: none;
}
.circle {
  border-radius: 100% !important;
  overflow: hidden;
  width: 128px;
  height: 128px;
  border: 2px solid rgba(255, 255, 255, 0.2);
}
img {
  max-width: 100%;
  height: auto;
}
.p-image {
  position: absolute;
  left: 15%;
  color: #666666;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.p-image:hover {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.upload-button {
  font-size: 1.2em;
}

.upload-button:hover {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color: #999;
}
